* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body, html {
    height: 100vh;
    background: #1a1a1a;
    color: #c4c4c4;
}

header {
    background: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    gap: 12px;
}

header nav {
    max-width: 800px;
    width: 100%;
    height: 48px;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

.nav-btn {
    flex: 0.25;
    background: #383838;
    border: 0;
    outline: 0;
    transition: 0.1s all ease-in-out;
}

.nav-btn:hover,
.nav-active { background: #575757; }

section {
    padding: 24px 32px;
}

section h2 {
    font-size: 1.9rem;
}

#sez-campi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
}

#sez-campi #select {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#sez-campi #select #select-campi {
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

#sez-campi #dettaglio-campo {
    flex: 1;
}


#sez-campi #dettaglio-campo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#sez-campi #dettaglio-campo .photos {
    display: flex;
    overflow-x: scroll;
    max-width: 1100px;
    gap: 18px;
    padding: 12px 0;

}

#sez-campi #dettaglio-campo h3 {
    font-size: 1.4rem;
}

#sez-campi #dettaglio-campo .photos img {
    max-height: 220px;
    width: auto;
    border-radius: 12px;
}